@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Ubuntu", system-ui, sans-serif;
  }
  .description p {
    margin-bottom: 20px;
  }
  .description h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .description ul {
    margin-bottom: 20px;
    padding-left: 20px;
    list-style: square;
  }
  .description ol {
    margin-bottom: 20px;
    padding-left: 20px;
    list-style: decimal;
  }
}
